@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
  }
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
}

/* God Mode 光标颜色 */
input.god-mode-cursor::placeholder {
  color: rgba(34, 197, 94, 0.5);
}
